{
  "mcpServers": {
    "larkdocapi": {
      "command": "npx",
      "args": [
        "larkmcp"
      ],
      "alwaysAllow": [
        "fetch_lark_doc",
        "login_user",
        "test_lark_api"
      ],
      "env": {
        "LARK_APP_ID": "your_app_id",
        "LARK_APP_SECRET": "your_app_secret"
      },
      "disabled": false
    }
  }
}
